
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    <link rel="canonical" href="../../configuration/distance-weighting/">
    <script>var anchor=window.location.hash.substr(1);location.href="../../configuration/distance-weighting/"+(anchor?"#"+anchor:"")</script>
    <meta http-equiv="refresh" content="0; url=../../configuration/distance-weighting/">
</head>
<body>
You're being redirected to a <a href="../../configuration/distance-weighting/">new destination</a>.
</body>
</html>
