name: Pre-commit and Tests

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - "*"

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: j178/prek-action@v1

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    env:
      UV_PYTHON: ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v5
      - name: Install uv with Python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
          version: "0.6.11"
      - name: Install package
        run: |
          uv sync --dev
      - name: Test with pytest
        run: |
          uv run pytest -m "not plot"

  build_docs:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v5
      - name: Install uv with Python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
          version: "0.6.11"
      - name: Install package
        run: |
          uv sync --all-extras
      - name: Build docs
        run: |
          uv run mkdocs build
